:root {
  --background: #1C1C1C;
  --primary: #6B8E8A;
  --secondary: #FF6F61;
  --foreground: #F5E8D8;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

h1 {
    margin: 0;
    color: var(--primary);
    font-weight: bold;
}

h2 {
    margin: 0;
    color: var(--secondary);
    font-weight: bold;
    max-width: 20ch;
}

p {
    margin: 0.4em 0 0 0;
    max-width: 60ch;
    line-height: 1.6;
}

.slogan {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 5px;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    column-gap: 40px;
    row-gap: 20px;
}

header {
    order: 2;
    display: flex;
    flex-direction: column;
}

.lightswitch {
    justify-self: flex-start;
    align-self: flex-end;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 20px;;
}

aside {
    order: 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    border-right: 2px solid var(--foreground);
    text-align: right;
    padding-right: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 5px 0;
}

nav ul a {
    color: var(--foreground);
    text-decoration: none;
    font-size: 0.9rem;
}

nav ul a:hover, .active {
    color: var(--secondary);
}

main {
    order: 3;
    margin-top: 20px;
}

footer {
    order: 4;
    margin-top: 40px;
    grid-column: span 2;
    text-align: center;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    header, 
    aside, 
    main, 
    footer {
        order: unset;
        grid-column: 1;
    }

    nav {
        border: 1px solid var(--foreground);
        text-align: left;
        padding-right: 10px;
    }
    nav ul {
        margin: 0;
        padding: 10px 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}